startswith('mag') :'mag'로 시작하는 것들 

equals() : 같은지 확인해줌

loc[]:

iloc[]:

at():

iat():

(df.place.str.contains('Alaska')) & (df.alert.notnull())

(df.place.str.contains(r'CA|California$')) & (df.mag > 3.8)

df.mag.between(6.5, 7.5)

df.magType.isin(['mw', 'mwb']): 

df.filter(items=['mag', 'magType']).head(): mag과 magType 컬럼만 필터링

df.filter(like='mag').head(): mag로 시작하는 컬럼만 필터링

# Subsetting the data

### 데이터의 부분집합 선택하기

In [1]:
import pandas as pd

df = pd.read_csv('data/earthquakes.csv')

## Selecting columns
mag column만 선택

In [2]:
df.mag

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

아래는 하나의 열을 선택하는 또다른 방법 : 속성 표기법

In [3]:
df['mag']

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

**속성표기법**으로는 여러 개의 column 선택 가능

In [5]:
df[['mag', 'title']]

       mag                                     title
0     1.35             M 1.4 - 9km NE of Aguanga, CA
1     1.29             M 1.3 - 9km NE of Aguanga, CA
2     3.42             M 3.4 - 8km NE of Aguanga, CA
3     0.44             M 0.4 - 9km NE of Aguanga, CA
4     2.16             M 2.2 - 10km NW of Avenal, CA
...    ...                                       ...
9327  0.62      M 0.6 - 9km ENE of Mammoth Lakes, CA
9328  1.00               M 1.0 - 3km W of Julian, CA
9329  2.40  M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330  1.10             M 1.1 - 9km NE of Aguanga, CA
9331  0.66             M 0.7 - 9km NE of Aguanga, CA

[9332 rows x 2 columns]

리스트 컴프리헨션과 문자열 연산을 사용해 여러 column들 선택

**startswith() : 지정 문자열로 시작하는지 확인**

title, time, mag로 시작하는 column들

In [7]:
df[
    ['title', 'time']
    + [col for col in df.columns if col.startswith('mag')]
]

                                         title           time   mag magType
0                M 1.4 - 9km NE of Aguanga, CA  1539475168010  1.35      ml
1                M 1.3 - 9km NE of Aguanga, CA  1539475129610  1.29      ml
2                M 3.4 - 8km NE of Aguanga, CA  1539475062610  3.42      ml
3                M 0.4 - 9km NE of Aguanga, CA  1539474978070  0.44      ml
4                M 2.2 - 10km NW of Avenal, CA  1539474716050  2.16      md
...                                        ...            ...   ...     ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA  1537230228060  0.62      md
9328               M 1.0 - 3km W of Julian, CA  1537230135130  1.00      ml
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico  1537229908180  2.40      md
9330             M 1.1 - 9km NE of Aguanga, CA  1537229545350  1.10      ml
9331             M 0.7 - 9km NE of Aguanga, CA  1537228864470  0.66      ml

[9332 rows x 4 columns]

예제를 살펴보면
1. the list comprehension 리스트 컴프리헨션

In [9]:
[col for col in df.columns if col.startswith('mag')]

['mag', 'magType']

2. 리스트 모으기

In [10]:
['title', 'time'] \
+ [col for col in df.columns if col.startswith('mag')]

['title', 'time', 'mag', 'magType']

3. column들의 리스트를 df에 적용

In [11]:
df[
    ['title', 'time']
    + [col for col in df.columns if col.startswith('mag')]
]

                                         title           time   mag magType
0                M 1.4 - 9km NE of Aguanga, CA  1539475168010  1.35      ml
1                M 1.3 - 9km NE of Aguanga, CA  1539475129610  1.29      ml
2                M 3.4 - 8km NE of Aguanga, CA  1539475062610  3.42      ml
3                M 0.4 - 9km NE of Aguanga, CA  1539474978070  0.44      ml
4                M 2.2 - 10km NW of Avenal, CA  1539474716050  2.16      md
...                                        ...            ...   ...     ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA  1537230228060  0.62      md
9328               M 1.0 - 3km W of Julian, CA  1537230135130  1.00      ml
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico  1537229908180  2.40      md
9330             M 1.1 - 9km NE of Aguanga, CA  1537229545350  1.10      ml
9331             M 0.7 - 9km NE of Aguanga, CA  1537228864470  0.66      ml

[9332 rows x 4 columns]

## Slicing 슬라이싱 (행넘버)
### Selecting rows
row number **행 넘버**를 사용.

In [9]:
df[100:103]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
100,NaN,NaN,20280310,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20280310,",1.20,ml,...,",ak,",automatic,1539435449480,"M 1.2 - 25km NW of Ester, Alaska",0,earthquake,",geoserve,origin,",-540.0,1539443551010,https://earthquake.usgs.gov/earthquakes/eventp...
101,NaN,NaN,73096756,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.01355,NaN,185.0,",nc73096756,",0.59,md,...,",nc,",automatic,1539435391320,"M 0.6 - 8km ESE of Mammoth Lakes, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539439802162,https://earthquake.usgs.gov/earthquakes/eventp...
102,NaN,NaN,37388730,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.02987,NaN,39.0,",ci37388730,",1.33,ml,...,",ci,",automatic,1539435293090,"M 1.3 - 8km ENE of Aguanga, CA",0,earthquake,",focal-mechanism,geoserve,nearby-cities,origin...",-480.0,1539435940470,https://earthquake.usgs.gov/earthquakes/eventp...

### Selecting rows and columns with chaining

### Chaining 체이닝(연쇄적 처리) - 열을 선택하고, 행을 선택

In [10]:
df[['title', 'time']][100:103]

                                    title           time
100      M 1.2 - 25km NW of Ester, Alaska  1539435449480
101  M 0.6 - 8km ESE of Mammoth Lakes, CA  1539435391320
102        M 1.3 - 8km ENE of Aguanga, CA  1539435293090

In [12]:
df[100:103][['title', 'time']]

                                    title           time
100      M 1.2 - 25km NW of Ester, Alaska  1539435449480
101  M 0.6 - 8km ESE of Mammoth Lakes, CA  1539435391320
102        M 1.3 - 8km ENE of Aguanga, CA  1539435293090

순서는 중요하지 않다 ->

In [13]:
df[100:103][['title', 'time']].equals(
    df[['title', 'time']][100:103]
)

True

체이닝을 사용해 값을 업데이트 하려고 하며 경고가 뜬다

In [6]:
df[110:113]['title'] = df[110:113]['title'].str.lower()

/var/folders/rc/3jzqjhp56_v2qxb49fkb1x880000gn/T/ipykernel_39807/143993152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[110:113]['title'] = df[110:113]['title'].str.lower()

`loc` 함수를 대신 써야 한다.

In [7]:
df[110:113]['title']

110               M 1.1 - 35km S of Ester, Alaska
111    M 1.9 - 93km WNW of Arctic Village, Alaska
112      M 0.9 - 20km WSW of Smith Valley, Nevada
Name: title, dtype: object

-> 값이 업데이트 되지 않았다. 값을 업데이트 하려면 인덱싱을 해야한다.

## Indexing 인덱싱

pandas의 인덱싱 연산은 행과 열을 모두 선택하는 한 가지 방법이다. 
**loc**, **iloc** 두 가지가 있는데, 둘을 구분하는 방법은, **위치**와 **정수위치**로 생각하는 것이다.

loc로 값 업데이트 / loc는 마지막 값을 포함하기 때문에 마지막 숫자에 112를 넣어준다.

In [22]:
df.loc[110:112, 'title'] = df.loc[110:112, 'title'].str.lower()
df.loc[110:112, 'title']

110               m 1.1 - 35km s of ester, alaska
111    m 1.9 - 93km wnw of arctic village, alaska
112      m 0.9 - 20km wsw of smith valley, nevada
Name: title, dtype: object

### Indexing with `loc`
format은 -> `loc[row_indexer, column_indexer]` :를 사용해서 모든 행을 선택할 수 있다.

In [23]:
df.loc[:,'title']

0                  M 1.4 - 9km NE of Aguanga, CA
1                  M 1.3 - 9km NE of Aguanga, CA
2                  M 3.4 - 8km NE of Aguanga, CA
3                  M 0.4 - 9km NE of Aguanga, CA
4                  M 2.2 - 10km NW of Avenal, CA
                          ...
9327        M 0.6 - 9km ENE of Mammoth Lakes, CA
9328                 M 1.0 - 3km W of Julian, CA
9329    M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330               M 1.1 - 9km NE of Aguanga, CA
9331               M 0.7 - 9km NE of Aguanga, CA
Name: title, Length: 9332, dtype: object

In [27]:
df.loc[10:15, ['title', 'mag']]

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00

### Indexing with `iloc`
파이썬의 슬라이싱처럼 iloc는 마지막 인덱스를 포함하지 않는다.

In [28]:
df.iloc[10:15, [19, 8]] #19번째 컬럼과 8번째 컬럼

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13

**iloc**는 행과 열 모두 **슬라이싱처럼** 적용

In [9]:
df.iloc[10:15, 6:10] #6번째 컬럼부터 9번째 컬럼까지

      gap             ids   mag magType
10   57.0    ,ci37389162,  0.50      ml
11  186.0  ,pr2018286010,  2.77      md
12   76.0    ,ci37389146,  0.50      ml
13  157.0    ,us1000hbti,  4.50      mb
14   71.0    ,nc73096921,  2.13      md

In [30]:
df.loc[10:14, 'gap':'magType'] #gap 컬럼에서 magType컬럼까지

      gap             ids   mag magType
10   57.0    ,ci37389162,  0.50      ml
11  186.0  ,pr2018286010,  2.77      md
12   76.0    ,ci37389146,  0.50      ml
13  157.0    ,us1000hbti,  4.50      mb
14   71.0    ,nc73096921,  2.13      md

loc를 사용하면 숫자로 하지 않고, 열 이름으로 하는 것도 가능하다.

-> gap 컬럼부터 magType 컬럼까지

In [32]:
df.iloc[10:15, 6:10].equals(
    df.loc[10:14, 'gap':'magType']
)

True

### Looking up scalar values
스칼라값, 즉 **특정한 값**을 찾기 위해 **at() 함수와 iat()함수** 사용할 수 있다.

In [33]:
df.at[10, 'mag'] #10번째 행에 기록된 mag값을 알아보자

0.5

`iat` 'i'at 이므로 인덱스로 값 찾기

In [10]:
df.iat[10, 8] #10번째 행에 기록된 8번째 column에 저장된 값을 알아보자

0.5

## Filtering 필터링
pandas에서는 부울 마스크(Boolean Mask)를 사용해 데이터의 일부 값들을 테스트해서 True와 False로 채워진 같은 구조의 데이터를 얻을 수 있다.

In [35]:
df.mag > 2

0       False
1       False
2        True
3       False
4        True
        ...
9327    False
9328    False
9329     True
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

전체 데이터에서 mag값이 7.0보다 크거나 값은 데이터만 선택해서 보여줄 수 있다.

In [36]:
df[df.mag >= 7.0]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
837,green,4.1,1000haa3,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.763,3.0,14.0,",us1000haa3,pt18283003,at00pgehsk,",7.0,mww,...,",us,pt,at,",reviewed,1539204500290,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",600.0,1539378744253,https://earthquake.usgs.gov/earthquakes/eventp...
5263,red,8.4,1000h3p4,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.589,18.0,27.0,",us1000h3p4,us1000h4p4,",7.5,mww,...,",us,us,",reviewed,1538128963480,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake,",dyfi,finite-fault,general-text,geoserve,groun...",480.0,1539123134531,https://earthquake.usgs.gov/earthquakes/eventp...

### loc를 이용해 조건에 맞는 데이터 선택하는 직관적인 방법

이 때, 26개의 모든 열이 포함되어서 나오는데, `loc`를 이용해 필요한 6개의 열만 추출할 수도 있다.

In [37]:
df.loc[
    df.mag >= 7.0,
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [25]:
df.loc[
    (df.tsunami == 1) & (df.alert == 'red'),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

비트별 논리곱 연산자를 사용해 조건을 두 개 지정해줄 수도 있다.

| -> 조건 하나만 충족해도 true

& -> 조건 모두를 충족해야 true

In [39]:
df.loc[
    (df.tsunami == 1) | (df.alert == 'red'), #쓰나미가 발생하거나, alert값이 red인
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
36,NaN,5.0,mww,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,earthquake
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
501,green,5.6,mww,"M 5.6 - 128km SE of Kimbe, Papua New Guinea",1,earthquake
799,green,6.5,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
816,green,6.2,mww,"M 6.2 - 94km SW of Kokopo, Papua New Guinea",1,earthquake
...,...,...,...,...,...,...
8561,NaN,5.4,mb,"M 5.4 - 228km S of Taron, Papua New Guinea",1,earthquake
8624,NaN,5.1,mb,"M 5.1 - 278km SE of Pondaguitan, Philippines",1,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake
9175,NaN,5.2,mb,"M 5.2 - 126km N of Dili, East Timor",1,earthquake
9304,NaN,5.1,mb,"M 5.1 - 34km NW of Finschhafen, Papua New Guinea",1,earthquake

**contains()** 함수와 **notnull()** 함수

In [40]:
df.loc[
    (df.place.str.contains('Alaska')) & (df.alert.notnull()), #place에 Alaska가 포함되고, alert값은 null이 아닌
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
1015,green,5.0,ml,"M 5.0 - 61km SSW of Chignik Lake, Alaska",1,earthquake
1273,green,4.0,ml,"M 4.0 - 71km SW of Kaktovik, Alaska",1,earthquake
1795,green,4.0,ml,"M 4.0 - 60km WNW of Valdez, Alaska",1,earthquake
2752,green,4.0,ml,"M 4.0 - 67km SSW of Kaktovik, Alaska",1,earthquake
3260,green,3.9,ml,"M 3.9 - 44km N of North Nenana, Alaska",0,earthquake
4101,green,4.2,ml,"M 4.2 - 131km NNW of Arctic Village, Alaska",0,earthquake
6897,green,3.8,ml,"M 3.8 - 80km SSW of Kaktovik, Alaska",0,earthquake
8524,green,3.8,ml,"M 3.8 - 69km SSW of Kaktovik, Alaska",0,earthquake
9133,green,5.1,ml,"M 5.1 - 64km SSW of Kaktovik, Alaska",1,earthquake

아래는 **정규표현식**을 사용해 특정한 패턴을 가진 데이터들을 추출할 수 있어 유용하다.

정규표현식을 사용하려면 따옴표 앞에 r을 붙인다 (파이썬에게 해당 문자열이 '원시 문자열'이라는 것을 알려주기 위함이다.)

정규 표현식을 사용해 캘리포니아에서 진도가 3.8보다 큰 데이터를 선택

**$** 문자는 끝을 의미.

**r'CA|California$'** 의 의미는 CA나 Californias로 끝나는 값.

In [42]:
df.loc[
    (df.place.str.contains(r'CA|California$')) & (df.mag > 3.8),
    ['place', 'alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,place,alert,mag,magType,title,tsunami,type
1465,"109km WNW of Trinidad, CA",green,3.83,mw,"M 3.8 - 109km WNW of Trinidad, CA",0,earthquake
2414,"5km SW of Tres Pinos, CA",green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake

`between()` 함수 사용

In [50]:
df.loc[
    df.mag.between(6.5, 7.5), #6.5와 7.5를 포함해 진도가 그 사이 값인 데이터들
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
799,green,6.5,mww,"M 6.5 - 148km S of Severo-Kuril'sk, Russia",1,earthquake
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
4363,green,6.7,mww,"M 6.7 - 263km NNE of Ndoi Island, Fiji",1,earthquake
5263,red,7.5,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

In [62]:
df.loc[
    df.mag.between(6.5, 7.5, inclusive = False), #6.5와 6.7 포함하지 않음
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

/var/folders/rc/3jzqjhp56_v2qxb49fkb1x880000gn/T/ipykernel_46640/361927578.py:2: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  df.mag.between(6.5, 7.5, inclusive = False), #6.5와 6.7 포함하지 않음

,alert,mag,magType,title,tsunami,type
118,green,6.7,mww,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,earthquake
837,green,7.0,mww,"M 7.0 - 117km E of Kimbe, Papua New Guinea",1,earthquake
4363,green,6.7,mww,"M 6.7 - 263km NNE of Ndoi Island, Fiji",1,earthquake

`isin()` 메서드를 이용하면 리스트 안에 있는 값 중 하나와 일치하는 데이터들을 선택할 수 있다.(| 을 사용하지 않을 수 있다.)

**magType 컬럼에서 mw나 mwb라는 값을 갖는 데이터**

In [63]:
df.loc[
    df.magType.isin(['mw', 'mwb']),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
995,NaN,3.35,mw,"M 3.4 - 9km WNW of Cobb, CA",0,earthquake
1465,green,3.83,mw,"M 3.8 - 109km WNW of Trinidad, CA",0,earthquake
2414,green,3.83,mw,"M 3.8 - 5km SW of Tres Pinos, CA",1,earthquake
4988,green,4.41,mw,"M 4.4 - 1km SE of Delta, B.C., MX",1,earthquake
6307,green,5.80,mwb,"M 5.8 - 297km NNE of Ndoi Island, Fiji",0,earthquake
8257,green,5.70,mwb,"M 5.7 - 175km SSE of Lambasa, Fiji",0,earthquake

mag 컬럼의 최소값과 최대값이 있는 인덱스 찾기

In [11]:
[df.mag.idxmin(), df.mag.idxmax()] #행 인덱스

[2409, 5263]

In [65]:
df.loc[
    [df.mag.idxmin(), df.mag.idxmax()], #mag 컬럼의 최대값 최소값의 인덱스만 잡아서 추출
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

,alert,mag,magType,title,tsunami,type
2409,NaN,-1.26,ml,"M -1.3 - 41km ENE of Adak, Alaska",0,earthquake
5263,red,7.50,mww,"M 7.5 - 78km N of Palu, Indonesia",1,earthquake

`filter()` 메서드는 이 절에서 했던 것처럼 값에 따라 데이터를 필터링하지 않는다. 이름으로 열을 선택한다.

`items`:에 원하는 컬럼명 넣기

In [69]:
df.filter(items=['mag', 'magType']).head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

`like` 파라미터로 mag를 **포함**하는 컬럼들을 필터링할 수도 있다.

In [14]:
df.filter(like='mag', axis = 1).head() #axis = 1이 default값 :컬럼을 필터링

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

`regex` ,정규표현식을 사용해 t로 시작하는 컬럼들만 필터링

In [71]:
df.filter(regex=r'^t').head()

,time,title,tsunami,type,types,tz
0,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
1,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
2,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0
3,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0
4,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0

 `set_index()` place 컬럼을 인덱스로 설정하고, 
 
Japan이 들어가는 조건에 맞는 행을 가져오기(**axis = 0**이므로 **행**을 기준으로 필터링) 그 후에 mag, magType, title 컬럼만 선택

In [77]:
df.set_index('place').filter(like='Japan', axis=0).filter(items=['mag', 'magType', 'title']).head()

                             mag magType                                title
place
160km NNW of Nago, Japan     4.6      mb     M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan      5.2     mww      M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan   4.5     mwr   M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan     4.7      mb     M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan  4.6      mb  M 4.6 - 53km ESE of Kamaishi, Japan

title 이라는 하나의 컬럼, 즉 `Series` 객체에도 적용이 된다.

In [78]:
df.set_index('place').title.filter(like='Japan').head()

place
160km NNW of Nago, Japan          M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan            M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan      M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan          M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan    M 4.6 - 53km ESE of Kamaishi, Japan
Name: title, dtype: object

<hr>
<div>
    <a href="./4-inspecting_dataframes.ipynb">
        <button style="float: left;">&#8592; Previous Notebook</button>
    </a>
    <a href="./6-adding_and_removing_data.ipynb">
        <button style="float: right;">Next Notebook &#8594;</button>
    </a>
</div>
<br>
<hr>