1. mb 지진 규모 유형으로 사용해 일본 진도의 96번째 백분위수를 찾는다.

In [2]:
import pandas as pd

df = pd.read_csv(
    'data/earthquakes.csv', 
    usecols=['time', 'title', 'place', 'magType', 'mag', 'alert', 'tsunami']
)

In [3]:
df[df.magType == 'mb'].describe(percentiles=[0.05, 0.96])

              mag          time     tsunami
count  601.000000  6.010000e+02  601.000000
mean     4.563894  1.538215e+12    0.044925
std      0.354134  6.009393e+08    0.207312
min      3.600000  1.537231e+12    0.000000
5%       4.100000  1.537319e+12    0.000000
50%      4.500000  1.538149e+12    0.000000
96%      5.200000  1.539282e+12    1.000000
max      6.100000  1.539473e+12    1.000000

2. 인도네시아에서 쓰나미가 동반된 지진의 백분율을 구한다

In [7]:
yes_tsunami = len(df[(df['tsunami']==1) & (df['place'].str.contains('ndone'))])
tot_tsunami = len(df[df['place'].str.contains('ndone')])
round(yes_tsunami/tot_tsunami, 2)

0.23

3. 네바다 지진에 대한 요약 통계를 계산한다.

In [23]:
df.loc[
    (df.place.str.contains(r'NV|Nevada$')),
    ['place', 'alert', 'mag', 'magType', 'title', 'tsunami']
].describe()

              mag  tsunami
count  681.000000    681.0
mean     0.500073      0.0
std      0.696710      0.0
min     -0.500000      0.0
25%     -0.100000      0.0
50%      0.400000      0.0
75%      0.900000      0.0
max      2.900000      0.0

4. 지진이 불의 고리에 있는 국가나 미국 주에서 발생했는지를 나타내는 열을 추가한다. 알래스카 Alaska, 남극대륙 Antarctica, Antarctic, 볼리비아 Bolivia, 캘리포니아 California, 캐나다 Canada, 칠레 Chile, 코스타리가 Costa Rica, 에콰도르 Ecuador, 피지 Fiji, 과테말라 Guatemala, 인도네시아 Indonesia, 일본 Japan, 카르마덱 제도 Kermadec islands, 멕시코 Mexico, 뉴질랜드 New Zealand, 페루 Peru, 필리핀 Philippins, 러시아 Rusia, 타이완 Taiwan, 통가 Tonga, 워싱턴 Washington을 사용한다.

In [47]:
df_rof = df.assign(
    in_ROF_orUS = df.place.str.contains(r'CA|California|Alaska|Antarctic|Bolivia|Canada|Chile|Costa|Ecuador|Fiji|Guatemala|Indonesia|Japan|Kermadec|Mexico|New Z|Peru|Philippin|Rusia|Taiwan|Tonga|Washington')
)
df_rof

,alert,mag,magType,place,time,title,tsunami,in_ROF_orUS
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,True
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,True
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,True
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,True
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,True
...,...,...,...,...,...,...,...,...
9327,NaN,0.62,md,"9km ENE of Mammoth Lakes, CA",1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0,True
9328,NaN,1.00,ml,"3km W of Julian, CA",1537230135130,"M 1.0 - 3km W of Julian, CA",0,True
9329,NaN,2.40,md,"35km NNE of Hatillo, Puerto Rico",1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0,False
9330,NaN,1.10,ml,"9km NE of Aguanga, CA",1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0,True
9331,NaN,0.66,ml,"9km NE of Aguanga, CA",1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0,True

In [41]:
df.loc[
    (df.place.str.contains(r'eru')),
    ['place', 'alert', 'mag', 'magType', 'title', 'tsunami']
]

,place,alert,mag,magType,title,tsunami
227,"15km WSW of Pisco, Peru",NaN,5.2,mb,"M 5.2 - 15km WSW of Pisco, Peru",0
1043,"50km WNW of Morrope, Peru",NaN,4.5,mb,"M 4.5 - 50km WNW of Morrope, Peru",0
1885,"18km NNW of Pisco, Peru",NaN,4.3,mb,"M 4.3 - 18km NNW of Pisco, Peru",0
1901,"7km ESE of Chuquitira, Peru",NaN,4.4,mb,"M 4.4 - 7km ESE of Chuquitira, Peru",0
2396,"15km E of Lluta, Peru",NaN,4.4,mb,"M 4.4 - 15km E of Lluta, Peru",0
2558,"23km WSW of Checca, Peru",NaN,5.3,mww,"M 5.3 - 23km WSW of Checca, Peru",0
3510,"79km W of Morrope, Peru",NaN,4.7,mb,"M 4.7 - 79km W of Morrope, Peru",0
4816,"23km W of Kazerun, Iran",NaN,4.0,mb,"M 4.0 - 23km W of Kazerun, Iran",0
5457,"55km N of Santa Eulalia, Peru",NaN,4.8,mb,"M 4.8 - 55km N of Santa Eulalia, Peru",0
6049,"13km SE of Ilo, Peru",NaN,4.0,mb,"M 4.0 - 13km SE of Ilo, Peru",0
6301,"28km ENE of Pucallpa, Peru",NaN,4.2,mb,"M 4.2 - 28km ENE of Pucallpa, Peru",0
6346,"29km ESE of Minas de Marcona, Peru",NaN,5.2,mww,"M 5.2 - 29km ESE of Minas de Marcona, Peru",0
7467,"66km N of Oxapampa, Peru",NaN,4.4,mb,"M 4.4 - 66km N of Oxapampa, Peru",0
7513,"40km SE of Kazerun, Iran",NaN,4.4,mb,"M 4.4 - 40km SE of Kazerun, Iran",0
7616,"66km SE of Coracora, Peru",NaN,4.1,mb,"M 4.1 - 66km SE of Coracora, Peru",0
8536,"76km WSW of Palpa, Peru",NaN,4.5,mb,"M 4.5 - 76km WSW of Palpa, Peru",0

5. 불의 고리 위치에서 발생한 지진의 횟수와 그외에서 발생한 지진의 횟수를 계산한다.

In [51]:
print(len(df_rof[df_rof['in_ROF_orUS'] == True]), len(df_rof[df_rof['in_ROF_orUS'] == False]))

7131 2201

6. 불의고리를 따라 발생한 쓰나미의 횟수를 계산하라.

In [52]:
len(df_rof[(df_rof['in_ROF_orUS'] == True) & (df_rof['tsunami']==1)])

42